<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="base.css">
    <!-- Adaprive CSS -->
    <!-- <link rel="stylesheet" href="adaptive.css"> -->
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="responsive.css">
    <title>Responsive Design</title>
</head>

<body>
    <div class="container">
         <!-- Header Section -->
        <div class="header"></div>
        <div class="services">
            <div class="service"></div>
            <div class="service"></div>
            <div class="service"></div>
            <div class="service"></div>
        </div>
        <div class="projects">
            <div class="proj"></div>
            <div class="proj"></div>
            <div class="proj"></div>
        </div>
    </div>
</body>

</html>