<!--D:\Python\django\AudiobooksTorrents\Audiobooks\torrent\templates\torrent\includes\nav.html-->

<nav>
    <a href="#">Альтернативная история</a> |
    <a href="#">Аудиоспектакль</a> |
    <a href="#">Бизнес и обучение</a> |
    <a href="#">Биографии и мемуары</a> |
    <a href="#">Боевики, детективы и триллеры</a> |
    <a href="#">Здоровье и медицина</a> |
    <a href="#">Мистика и ужасы</a> |
    <a href="#">Наука и познавательная литература</a> |
    <a href="#">Семейные и детские</a> |
    <a href="#">Классика</a> |
    <a href="#">Фантастика</a> |
    <a href="#">Философия</a> |
    <a href="#">Фэнтези и любовь</a> |
    <a href="#">Эзотерика и религия</a> |
    <a href="#">На иностранных языках</a> |
    <a href="#">Другое</a>
</nav>